.my_rates_page_container {
  padding: 40px 60px;
}

.my_rates_page_container h1 {
  font-size: 25px;
  font-weight: 700;
  margin: 0;
}

.header_panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_panel_buttons {
  display: flex;
  align-items: center;
}

.setting_icon {
  display: block;
  margin-right: 10px;
  cursor: pointer;
  user-select: none;
}

.cards_container{
  margin-top: 30px;
}

.card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 23px;
  margin-top: 5px;
  background: white;
  font-size: 13px;
  border-radius: 18px;
  box-shadow: 0px 4px 46px rgba(50, 130, 207, 0.06);
}

.radio_button_container {
  width: 16px;
}

.last_update_head, .validity_head {
  font-weight: 600;
  margin-bottom: 5px;
}
