.input_container {
    display: inline-block;
    margin-right: 20px;
    float: left;
}

.container_head {
    width: 100%;
}
.input_field input {
    width: 250px;
    height: 40px;
    text-indent: 75px;
    border: 1px solid rgba(74, 100, 123, 0.23);
    background: rgba(0, 0, 0, 0);
    border-radius: 100px;
}

.input_text {
    margin: -2em 0 0 1.25em;
    font-weight: 600;
}

.generate_pass {
    margin: -1.54em 0 0 14.35em;
    z-index: 1;
}
