.graphic_container{
    margin-top: 50px;
    height: 400px;
}

.graphic_filters{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 30px;
}

.one_filter{
    width: 100%;
}

.services_block{
    margin: 20px auto;
    padding: 10px 30px;
    width: 95%;
    height: 200px;
    overflow-y: scroll;
    border: 1px solid var(--hardBlue);
    border-radius: 10px;
}

.one_service{
    padding: 5px;
    cursor: pointer;
    user-select: none;
}

.one_service:hover{
    background-color: var(--lightBlue);
}
