.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 5px 5px 5px 20px;
    border: 1px solid rgba(74, 100, 123, 0.23);
    border-radius: 100px;
}

.container input{
    color: #80899A;
    background-color: transparent;
    font-weight: 300;
    padding-right: 5px;
    border: none;
    width: 100%;
}

.container input:focus{
    outline: none;
}

.label{
    margin-right: 25px;
    font-weight: 500;
    color: #80899A;
}