.container {
  position: relative;
  padding: 66px;
  width: 630px;
  height: 600px;
  background-color: white;
  border-radius: 35px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  text-align: center;
  z-index: 2;
}

.girl {
  position: absolute;
  width: 67px;
  height: 157px;
  top: 235px;
  left: 310px;
}

.request_text {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 129px;
  left: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
}
